<h1>See the teams:</h1>
<h2><%= link_to 'Players', players_path %></h2>
<table>
	<% @teams.each do |team| %>
		<tr>
			<td>
				<%= team.name %>
				<%= link_to 'Roster', team_path(team) %>
			</td>
		</tr>
	<% end %>
</table>
<h2><%= link_to 'Top', root_path %></h2>
