<h1>See the teams:</h1>
<table class="team-table">
	<% @teams.each do |team| %>
		<tr>
			<td class="team-bullet">
				<%= link_to team.name, team_path(team) %>
			</td>
		</tr>
	<% end %>
</table>
<h2><%= link_to 'Players', players_path %></h2>
<h2><%= link_to 'Top', root_path %></h2>
