/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";
@import "bootstrap/theme";

.app-wrapper {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.team-header{
	color: red !important;
	font-family: Garamond;
	font-size: 48px;
}

#header {
	padding: 5px;
	background-color: #efefef;
	height: 40px;

}

.header-navigation-links {
	padding: 0 40px;
	position: relative;
	left: 8%;
	top: 10px;
	font-size: 20px;
	font-family: Georgia;
}
.header-navigation-link:hover {
	text-decoration: none;
	color: red;
}

.player-container {
	height: 500px;
	width: 600px;
	border-radius: 0 0 200px 200px;
	background-color: #A5F2F3;
	border: 2px solid #D3D3D3;
	overflow: hidden;
	text-align: center;
	display: inline-block;
	position: relative;
}

.faceoff-circle {
	height: 300px;
	width: 300px;
	border-radius: 150px;
	border: 3px solid red;
	margin-top: -152px;
	left: 146px;
	position: absolute;
}

.goalie-box {
	height: 75px;
	width: 150px;
	border-radius: 75px 75px 0 0;
	border: 3px solid red;
	left: 222px;
	bottom: 100px;
	position: absolute;
} 

.player-list-bullet {
	display: inline-block;
}

.player-list-bullet:nth-child(-n+6) {
	width: 100px;
	height: 75px;
}

.player-list > .player-list-bullet:nth-child(1) {
	right: 40px;
	position: relative;
}

.player-list > .player-list-bullet:nth-child(3) {
	left: 40px;
	position: relative;
}

.player-list > .player-list-bullet:nth-child(4) {
	left: 55px;
	top: 40px;
	position: relative;
}

.player-list > .player-list-bullet:nth-child(5) {
	position: relative;
	top: 170px;
}

.player-list > .player-list-bullet:nth-child(6) {
	right: 55px;
	top: 40px;
	position: relative;
}

.player-list-bullet:nth-child(-n+6) > .position-details {
	width: 100px;
	height: 100px;
	border-radius: 10px;
	background-color: #D3D3D3;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.player-list > .player-list-bullet {
	margin: 10px 25px;
}

.player-list {
	list-style: none;
	margin: 0;
}

.position-details {
	display: none;
}

.bench-roster {
	display: inline-block;
	width: 325px;
	list-style: none;
	vertical-align: top;
	margin-top: 100px;
	background-color: #D3D3D3;
	border-radius: 10px;
}

.bench-roster > .player-list-bullet {
	border: 3px solid purple;
	vertical-align: top;
}

.bench-roster > .player-list-bullet:nth-child(n+7):nth-child(-n+10) {
	border: 2px solid blue;
	width: 46%;
}

